.page{
  display: flex;
  flex-direction: row;
}
.product-details{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  margin-left: -40px;
  width: 70%;
}
img{
  width: 100%;
  height: 65%;

}

.content{
  h1{
    font-size: 30px;
    font-weight: 500;
    color: #0a5913;
  }
  .a{
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
  }
  .b{
    font-size: 15px;
  }
  button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 12px;
    background-color: rgba(15, 120, 26, 0.8);
    color: white;
    font-weight: 700;
  }
  .price{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
      margin-top: 4px;
      color: #077607;
      font-weight: 700;
      font-size: 20px;
    }
  }
}






.footer-dev{
  position: absolute;
  top: 130vh;
  width: 1424px;
  margin-left: -8px;
  font-family: poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #515251;
  color: #dde0dd;
}
.fot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.about{
  width: 40%;
  h3{
    font-size: 20px;
  }
  p{
    font-size: 12px;
    opacity: 0.5;
  }
}
.links{
  h4{
    font-size: 20px;
  }
}
.links ul{
  margin-top: -16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;


}
.links a{
  color: #939593;
  font-weight: 500;
  margin-left: -40px;
  text-decoration: none;
  font-size: 12px;
}
.social{
  h4{
    font-size: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  a{
    text-decoration: none;
    color: #cccccc;
    font-size: 12px;
    line-height: 25px;
  }
}
