.product-card{
  border: 1px solid black;
  width: 27vh;
  margin: 10px;
  height: 340px;

}
.product-image{
  padding: 1px;
  width: 100%;
  height: 65%;
}
.content{
  font-size: 10px;
  line-height: 0px;
}
