<div class="cart-container">
  <h3 class="title">Place Your Order !</h3>
  <form (ngSubmit)="onSubmit()" class="order-form">
      <input class="form-input" [(ngModel)]="order.firstName" name="firstName" placeholder="First Name" required>
      <input class="form-input" [(ngModel)]="order.lastName" placeholder="Last Name" name="lastName" required>
      <input class="form-input" [(ngModel)]="order.email" placeholder="Email" name="email" type="email" required>
      <input class="form-input" [(ngModel)]="order.houseNumber" placeholder="House Number" name="houseNumber" required>
      <input class="form-input" [(ngModel)]="order.street" name="street" required placeholder="Street">
      <input class="form-input" [(ngModel)]="order.zipCode" name="zipCode" required placeholder="ZipCode">
      <select class="form-input" [(ngModel)]="order.paymentMethod" name="paymentMethod">
        <option value="PAYPAL">Paypal</option>
        <option value="CREDIT_CARD">Credit Card</option>
      </select>

    <div *ngIf="cartItems.length > 0" class="cart-items">
      <div *ngFor="let item of cartItems" class="cart-item">
        <p>{{ item.naame }} - {{ item.price | currency }}</p>
      </div>
    </div>
    <div class="total-price">
      <p>Total:<span>{{ order.amount | currency }}</span></p>
    </div>
    <button class="submit-button" type="submit">Proceed</button>

  </form>
</div>
