<div class="title">
  <div class="contact">
    <div class="topic">
  <span class="top">Get in Touch</span>
  <p>Reach out to us on any of the support channels</p>
    </div>
    <div class="Cont">
    <p>Sales Hotline:</p>
    <span class="num">+10 7878 0933</span>
    </div>
    <div class="Cont">
      <p>Service Hotline:</p>
      <span class="num">+10 4543 4353</span>
    </div>
    <div class="Cont">
      <p>E-mail address:</p>
      <span class="num">sales&#64;email.com</span>
    </div>
  </div>
</div>

<div class="footer-dev">
  <div class="fot">
      <div class="about">
        <h3>Lawnmowers & Garden Tools</h3>
        <p>
          Your one-stop shop for all lawnmowers and garden tools. We provide high-quality, reliable equipment for all your gardening needs.
        </p>
      </div>

      <div class="links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="social">
        <h4>Follow Us</h4>
        <a href="https://facebook.com" target="_blank">www.Facebook.com</a>
        <a href="https://instagram.com" target="_blank">www.Instagram.com</a>
        <a href="https://twitter.com" target="_blank">www.twitter.com</a>
      </div>

</div>
  <div class="footer-bottom">
    <p>&copy; 2024 LawnMowers & Garden Tools | All Rights Reserved</p>
  </div>

</div>




